@model IEnumerable<OrderFood.Entity.Models.Product>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="media influencer-profile-data d-flex align-items-center p-2">
                        @{
                            Html.RenderAction("_ProductPhotoHome", "HomeCompany", new { id = item.Id });
                        }
                        <div class="media-body ">
                            <div class="influencer-profile-data">
                                <h3 class="m-b-10">@item.Title</h3>
                                <p>
                                    <span class="m-r-20 d-inline-block">
                                        Fecha de Publicación
                                        <span class="m-l-10 text-primary">@item.CreatedDate.ToShortDateString()</span>
                                    </span>
                                    <span class="m-r-20 d-inline-block">
                                        Categoría
                                        <span class="m-l-10 text-secondary">@item.Category.Name</span>
                                    </span>
                                    <span class="m-r-20 d-inline-block">
                                        Tipo <span class="m-l-10  text-info">@item.Subcategory.Name</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top card-footer p-0">
            <div class="campaign-metrics d-xl-inline-block">
                <h4 class="mb-0">@item.Hit.Value.ToString()</h4>
                <p>Interacción</p>
            </div>
            <div class="campaign-metrics d-xl-inline-block">
                <h4 class="mb-0">@item.Like.Value.ToString()</h4>
                <p>Gusto</p>
            </div>
            <div class="campaign-metrics d-xl-inline-block">
                <h4 class="mb-0">@item.Orders.Count()</h4>
                <p>Orden</p>
            </div>
            <div class="campaign-metrics d-xl-inline-block">
                <h4 class="mb-0">@item.Comments.Count()</h4>
                <p>Comentario</p>
            </div>
            <div class="campaign-metrics d-xl-inline-block">
                @if (item.DicsountPrice != null && item.DicsountPrice != Convert.ToDecimal(0.00))
                {
                    <h4 class="mb-0">@item.DicsountPrice.Value.ToString()</h4>
                    <p>Precio</p>
                }
                else
                {
                    <h4 class="mb-0">@item.SellingPrice.ToString()</h4>
                    <p>Precio</p>
                }
            </div>
        </div>
    </div>
}