@model OrderFood.Entity.Models.Product
@{
    ViewBag.Title = "Update Your Company's Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Content/temp/Admin/js/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/web/select.js"></script>

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <a href="~/AdminCreate/ProductList" class="btn btn-primary btn-xs">Product List</a>
                            @if (TempData["message"] != null)
                            {
                                <strong style="color:darkblue">@TempData["message"]</strong>
                            }
                            else
                            {
                                <strong style="color:darkred">@TempData["err"]</strong>
                            }
                            <hr />
                            @ViewBag.Title - <h4 style="color:darkred">Fields marked with * are required</h4>
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                @Html.ValidationSummary()
                                <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="">
                                    @Html.AntiForgeryToken()
                                    <h4 style="color:darkblue">Select to Category, Subcategory, Country and City: </h4>
                                    <hr />
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Category List: *</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-bot15" name="CategoryId" id="category">
                                                <option>--- Choose a one category ---</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Subcategory List: *</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-bot15" name="SubcategoryId" id="subcategory" disabled>
                                                <option>--- First Choose a Category ---</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Country List: *</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-bot15" name="CountryId" id="country">
                                                <option>--- Choose a Country ---</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">City List: *</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-bot15" name="CityId" id="city">
                                                <option>--- First Choose a Country ---</option>

                                            </select>
                                        </div>
                                    </div>
                                    <hr />
                                    <h4 style="color:darkblue">Product Information Section</h4>
                                    <hr />
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Product No: *</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="ProductNo" value="@Model.ProductNo" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Product Name: *</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="Name" value="@Model.Name" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Product Title / Slogan: *</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="Title" value="@Model.Title" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Description: *</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control " id="ccomment" name="Desc" value="@Model.Desc" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Price: *</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="SellingPrice" value="@Model.SellingPrice" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Discount Price:</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="DicsountPrice" type="text" />
                                        </div>
                                    </div>
                                    <hr />
                                    <h4 style="color:darkblue">Product Details Section</h4>
                                    <hr />
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Admonitory:</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control " id="ccomment" name="ProductDetail.Warning"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Detail:</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control " id="ccomment" name="ProductDetail.Detail"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Ingredients:</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control " id="ccomment" name="ProductDetail.Articles"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Suggestions:</label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control " id="ccomment" name="ProductDetail.Offers"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Service Time: *</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="ProductDetail.ShopServiceTime" value="@Model.ProductDetail.ShopServiceTime" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Delivery Time: *</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="ProductDetail.OrderTime" value="@Model.ProductDetail.OrderTime" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">Update Date: *</label>
                                        <div class="col-lg-10">
                                            <input class="form-control " id="password" name="UpdatedDate" type="date" required />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-success" type="submit">Update to Product</button>
                                            <a href="~/AdminCreate/ProductList" class="btn btn-warning">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>