@model OrderFood.Entity.Models.Category
@{
    ViewBag.Title = "Update to Product Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <a href="~/Category/kurtulusocL" class="btn btn-primary btn-xs">Active Product Category Page</a>
                            @if (TempData["message"] != null)
                            {
                                <strong style="color:darkblue">@TempData["message"]</strong>
                            }
                            else
                            {
                                <strong style="color:darkred">@TempData["err"]</strong>
                            }
                            <hr />
                            @ViewBag.Title - <h4 style="color:darkred">Fields marked with * are required</h4>
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                @Html.ValidationSummary()
                                <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" enctype="multipart/form-data" action="">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Category Name: *</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="Name" value="@Model.Name" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="username" class="control-label col-lg-2">Category Photo: *</label>
                                        <div class="col-lg-10">
                                            <input class="form-control " id="username" name="image" value="@Model.Photo" type="file" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">Update Date: *</label>
                                        <div class="col-lg-10">
                                            <input class="form-control " id="password" name="UpdatedDate" type="date" required />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-success" type="submit">Update Product Category</button>
                                            <a href="~/Category/kurtulusocL" class="btn btn-warning">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>