@model OrderFood.Entity.Models.Contact 
@{
    ViewBag.Title = "Update To Contact Information";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <a href="~/Contact/kurtulusocL" class="btn btn-primary btn-xs">Active Contact Address List</a>
                            @if (TempData["message"] != null)
                            {
                                <strong style="color:darkblue">@TempData["message"]</strong>
                            }
                            else
                            {
                                <strong style="color:darkred">@TempData["err"]</strong>
                            }
                            <hr />
                            @ViewBag.Title - <h4 style="color:darkred">Fields marked with * are required</h4>                          
                        </header>
                        <div class="panel-body">
                            <div class="form">
                                @Html.ValidationSummary()
                                <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group ">
                                        <label for="firstname" class="control-label col-lg-2">Address: *</label>
                                        <div class="col-lg-10">
                                            <input class=" form-control" id="firstname" name="Address" value="@Model.Address" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">E-Mail Address: *</label>
                                        <div class="col-lg-10">
                                            <input class="form-control " id="password" name="EMail" value="@Model.EMail" type="email" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">Fax No:</label>
                                        <div class="col-lg-10">
                                            <input class="form-control " id="password" name="FaxNumber" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">Location Url: *</label>
                                        <div class="col-lg-10">
                                            <input class="form-control " id="password" name="Location" value="@Model.Location" type="url" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="password" class="control-label col-lg-2">Update Date: *</label>
                                        <div class="col-lg-10">
                                            <input class="form-control " id="password" name="UpdatedDate" type="date" required />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-success" type="submit">Update Contact</button>
                                            <a href="~/Contact/kurtulusocL" class="btn btn-warning">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>