@model OrderFood.Entity.Models.CancelRequest
@{
    ViewBag.Title = "Debe Completar el Formulario Antes de Cancelar Su Membresía.";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">
                    @if (TempData["message"] != null)
                    {
                        <strong style="color:darkblue">@TempData["message"]</strong>
                    }
                    @if (TempData["err"] != null)
                    {
                        <strong style="color:darkred">@TempData["err"]</strong>
                    }
                    @if (TempData["message"] == null && TempData["err"] == null)
                    {
                        @ViewBag.Title
                    }
                </h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/HomeUser/Index" class="breadcrumb-link">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">@ViewBag.Title</h5>
                <div class="card-body">
                    <form id="validationform" method="post" data-parsley-validate="" novalidate="">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Nombre-Apellido: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" required="" name="NameSurname" placeholder="Nombre-Apellido" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Asunto de Cancelación: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" required="" name="Subject" placeholder="Asunto de Cancelación" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Danos Algunos Detalles: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <textarea required="" name="Detail" placeholder="Puede escribir en detalle por qué desea cerrar su cuenta aquí." class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">¿Cuándo debemos cerrar?: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="date" required="" name="When" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row text-right">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button type="submit" class="btn btn-space btn-secondary" onclick="return confirm('¿Estás seguro? ?')">Aprobar y Enviar Formulario</button>
                                <a href="~/HomeUser/Index" class="btn btn-space btn-primary">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>