@model OrderFood.Entity.Models.CompanyContact
@{
    ViewBag.Title = "Actualice La Información De Contacto De Su Compañía";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">
                    @if (TempData["message"] != null)
                    {
                        <strong style="color:darkblue">@TempData["message"]</strong>
                    }
                    @if (TempData["err"] != null)
                    {
                        <strong style="color:darkred">@TempData["err"]</strong>
                    }
                    @if (TempData["message"] == null && TempData["err"] == null)
                    {
                        @ViewBag.Title
                    }
                </h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/HomeCompany/Index" class="breadcrumb-link">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="~/HomeCompany/UserProfile" class="breadcrumb-link">Perfil de la Compañía</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header" style="color:darkred">
                    <a href="~/CompanyCreate/CompanyContactList" class="btn btn-primary btn-xs">Lista de Direcciones de Contacto</a> - Campos marcados con * son obligatorios
                </h5>
                <div class="card-body">
                    @Html.ValidationSummary()
                    <form id="validationform" method="post" data-parsley-validate="" novalidate="">
                        @Html.AntiForgeryToken()
                        <h4 style="color:darkblue">Información de Contacto de la Compañía</h4>
                        <hr />
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Correo Electrónico: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="email" required="" name="EMail" value="@Model.EMail" placeholder="Correo Electrónico" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Dirección de la Compañía: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" required="" name="Address" value="@Model.Address" placeholder="Dirección de la Compañía" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">URL de Ubicación de la Compañía: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <textarea required="" name="Location" value="@Model.Location" placeholder="URL de Ubicación de la Compañía" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Whatsapp: *</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" required="" name="PhoneNumber1" value="@Model.PhoneNumber1" placeholder="el número de teléfono de tu empresa para whatsapp" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Número de Teléfono:</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" name="PhoneNumber2" placeholder="tu número de teléfono fijo" class="form-control">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Fecha Actualizada: </label>
                            <div class="col-lg-10">
                                <input class="form-control " id="password" name="UpdatedDate" type="date" required />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row text-right">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button type="submit" class="btn btn-space btn-primary">Actualizar la Información de Contacto</button>
                                <a href="~/CompanyCreate/CompanyContactList" class="btn btn-space btn-secondary">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>