@using PagedList
@using PagedList.Mvc
@model IPagedList<OrderFood.Entity.Models.Product>
@{
    ViewBag.Title = "The Least Sold Products of the Companies in the City";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <section>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row invoice-list">
                        <div class="text-center corporate-id">
                            <strong>@ViewBag.Title</strong>
                        </div>                        
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Product No</th>
                                <th>Product Name</th>
                                <th>City/Country</th>
                                <th>Category/Kind</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Like</th>
                                <th>Interaction</th>
                                <th>Delivery</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (item.CompanyId != null)
                                        {
                                            <strong>@item.Company.Name</strong>
                                        }
                                    </td>
                                    <td>@item.ProductNo</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <strong style="color:darkblue">City: @item.City.Name</strong><br />
                                        <span>Country: @item.Country.Name</span>
                                    </td>
                                    <td>
                                        <span>Category: @item.Category.Name</span><br />
                                        <span>Kind: @item.Subcategory.Name</span>
                                    </td>
                                    <td>@item.SellingPrice.ToString()</td>
                                    <td>
                                        @if (item.DicsountPrice != null && item.DicsountPrice != Convert.ToDecimal(0.00))
                                        {
                                            <span>@item.DicsountPrice.Value.ToString()</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>
                                    <td>@item.Like.Value.ToString()</td>
                                    <td>@item.Hit.Value.ToString()</td>
                                    <td>@item.Orders.Count()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center invoice-btn">
                        <a class="btn btn-success btn-xs" href="~/AdminIstatistic/CompanyList"> Geri </a>
                    </div>
                    <div class="text-center invoice-btn">
                        <div class="pagination" align="center">
                            <div class="pagination-large">
                                @Html.PagedListPager(Model, Page => Url.Action("CityLessSell", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>