@using PagedList
@using PagedList.Mvc
@model IPagedList<OrderFood.Entity.Models.ToMake>
@{
    ViewBag.Title = "Active Task List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel tasks-widget">
                        <header class="panel-heading">
                            <a class="btn btn-info btn-sm pull-right" href="~/ToMake/TaskList">All Task List</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @ViewBag.Title <a class="btn btn-primary btn-sm pull-left" href="~/ToMake/Create">Add New Tasks</a>
                        </header>
                        <div class="panel-body">
                            <div class="task-content">
                                <ul class="task-list">
                                    @foreach (var item in Model)
                                    {
                                        <li>
                                            <div class="task-checkbox">
                                                @if (item.IsFinished == true)
                                                {
                                                    <input type="checkbox" class="list-child" value="" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="list-child" value="" />
                                                }
                                            </div>
                                            <div class="task-title">
                                                <span class="task-title-sp">@item.Title - OwnerId => @item.UserId</span>
                                                <span class="badge badge-sm label-success">Last Date: @item.TillWhen.ToLongDateString()</span>
                                                <span class="badge badge-sm label-primary">Task => @item.NameSurname</span>
                                                <div class="pull-right">
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <a class="btn btn-info btn-xs" href="~/ToMake/Detail/@item.Id"><i class="icon-info"></i></a>
                                                        <a class="btn btn-success btn-xs" href="~/ToMake/Edit/@item.Id"><i class="icon-pencil"></i></a>
                                                        <a class="btn btn-warning btn-xs" href="~/ToMake/DeActive/@item.Id"><i class="icon-archive"></i></a>
                                                        <a class="btn btn-danger btn-xs" href="~/ToMake/Delete/@item.Id" onclick="return confirm('Are you sure ?')"><i class="icon-trash "></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-info btn-xs" href="~/ToMake/Detail/@item.Id"><i class="icon-info"></i></a>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class=" add-task-row">
                                <div class="pagination" align="center">
                                    <div class="pagination-large">
                                        @Html.PagedListPager(Model, Page => Url.Action("kurtulusocL", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>