@using PagedList
@using PagedList.Mvc
@model IPagedList<OrderFood.Entity.Models.Order>
@{
    ViewBag.Title = "Orderers by Payment System";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            @ViewBag.Title - <a href="~/Order/OrderList" class="btn btn-info btn-xs">Order List</a>
                        </header>
                        <table class="table table-striped table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>Name Surname</th>
                                    <th>Phone No</th>
                                    <th>Delivery Address</th>
                                    <td>Status</td>
                                    <th>Company</th>
                                    <th>Produc</th>
                                    <th>Piece</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                    <th>Payment</th>
                                    <th>Order Date</th>
                                    <th>Operations</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.NameSurname</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Address</td>
                                        <td>
                                            @if (item.IsSent == true)
                                            {
                                                <strong style="color:darkblue">In delivery.</strong>
                                            }
                                            else
                                            {
                                                <strong style="color:darkred">Was delivered.</strong>
                                            }
                                        </td>
                                        <td>
                                            @if (item.CompanyId != null)
                                            {
                                                <a href="~/Order/CompanyList/@item.CompanyId" class="btn btn-link"><span style="color:darkgreen">@item.Company.Name</span></a>
                                                <a href="~/Order/OrderUsers/@item.CompanyId" class="btn btn-primary btn-xs">Customers</a>
                                            }
                                        </td>
                                        <td>
                                            @if (item.ProductId != null)
                                            {
                                                <span>Product No: @item.Product.ProductNo</span><br />
                                                <span>Product Name: @item.Product.Name</span>
                                            }
                                        </td>
                                        <td>@item.Piece</td>
                                        @if (item.ProductId != null)
                                        {
                                            <td>@item.Product.SellingPrice</td>
                                        }
                                        <td>@item.TotalPrice</td>
                                        <td>
                                            @item.Payment.Name
                                        </td>
                                        <td>@item.CreatedDate.ToShortDateString()</td>
                                        <td>
                                            @if (User.IsInRole("Admin") || User.IsInRole("Asistant"))
                                            {
                                                <a href="~/Order/OrderDetail/@item.Id" class="btn btn-info btn-xs">Detail</a>
                                                <a href="~/Order/Delete/@item.Id" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure ?')">Delete</a>
                                            }
                                            else
                                            {
                                                <a href="~/Order/OrderDetail/@item.Id" class="btn btn-info btn-xs">Detail</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="pagination" align="center">
                <div class="pagination-large">
                    @Html.PagedListPager(Model, Page => Url.Action("PaymentList", new { Page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
        </section>
    </section>
</section>