@model OrderFood.Entity.Models.Company
@{
    ViewBag.Title = "Información Detallada de la Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="aa-catg-head-banner">
    <img src="~/Content/temp/web/img/fashion/fashion-header-bg-8.jpg" alt="banner" title="provechoo.com" style="max-height:350px;max-width:1400px;min-height:350px;min-width:1400px">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>@ViewBag.Title</h2>
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Inicio</a></li>
                    <li><a href="~/Product/Index">Comidas</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container">
                                                @{
                                                    Html.RenderAction("_CompanyDetailBigPhoto", "Home", new { id = Model.Id });
                                                }
                                            </div>
                                        </div>
                                        <div class="simpleLens-thumbnails-container">
                                            @{
                                                Html.RenderAction("_CompanyDetailSubPhoto", "Home", new { id = Model.Id });
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>@Model.Name</h3>
                                    <div class="aa-price-block">
                                        <span class="aa-product-view-price">@Model.Hit.Value.ToString() interacción</span>
                                        <p class="aa-product-avilability">
                                            <a href="~/Company/Like/@Model.Id" class="btn btn-success btn-xs">Me Gusta (@Model.Like.Value.ToString() Gusto)</a>
                                        </p>
                                    </div>
                                    @if (Model.Subdetail != null)
                                    {
                                        <p>@Model.Subdetail</p>
                                    }
                                    <div class="aa-prod-view-size">
                                        <a href="~/Company/Category/@Model.KindId">Categoría: @Model.Kind.Name</a>
                                        <a href="~/Company/Country/@Model.CountryId">País: @Model.Country.Name</a>
                                        <a href="~/Company/City/@Model.CityId">Ciudad: @Model.City.Name</a>
                                        @{
                                            Html.RenderAction("_HitRead", "Company", new { id = Model.Id });
                                        }
                                    </div>
                                    <div class="aa-prod-view-size">
                                        <a>Comentario: @Model.Comments.Count()</a>
                                        <a>Producto: @Model.Products.Count()</a>
                                        <a>Orden: @Model.Orders.Count()</a>
                                    </div>
                                    <div class="aa-prod-quantity">
                                        <p class="aa-prod-category">
                                            <a href="~/Company/Complain/@Model.Id">Reporte</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#description" data-toggle="tab">Información Detallada</a></li>
                            <li><a href="#contact" data-toggle="tab">Contacto</a></li>
                            <li><a href="#social" data-toggle="tab">Redes Sociales</a></li>
                            <li><a href="#review" data-toggle="tab">Comentarios</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <p>@Model.Detail</p>
                            </div>
                            <div class="tab-pane fade" id="contact">
                                @{
                                    Html.RenderAction("_ContactCompanyDetail", "Home", new { id = Model.Id });
                                }
                            </div>
                            <div class="tab-pane fade" id="social">
                                @{
                                    Html.RenderAction("_SocialMediaCompanyDetail", "Home", new { id = Model.Id });
                                }
                            </div>
                            <div class="tab-pane fade " id="review">
                                <div class="aa-product-review-area">
                                    <h4>Reseñas de la Empresa:</h4>
                                    <ul class="aa-review-nav">
                                        @{
                                            Html.RenderAction("_CompanyComment", "Comment", new { id = Model.Id });
                                        }
                                    </ul>
                                    <h4>Deja un Comentario</h4>
                                    <h6 style="color:darkred">Campos marcados con * son obligatorios</h6>
                                    @{
                                            Html.RenderAction("_CreateComment", "Company");
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-related-item">
                        <h3>Productos de la Empresa</h3>
                        @{
                            Html.RenderAction("_ProductCompanyDetail", "Home", new { id = Model.Id });
                        }
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>
<section id="aa-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-subscribe-area">
                    @{
                        Html.RenderAction("_CompanyVideoAd", "Home");
                    }
                </div>
            </div>
        </div>
    </div>
</section>