@model OrderFood.Entity.CompanyModels.ForgotPassword
@{
    ViewBag.Title = "Olvidé Mi Contraseña";
    TempData["Title"]= "Ingrese su dirección de correo electrónico que utilizó al registrarse para que podamos enviarle el código";
    Layout = "";
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/img/Logo 3.png" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/temp/userpage/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/temp/userpage/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/temp/userpage/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/temp/userpage/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
    @Html.ValidationSummary()
    <form class="splash-container" action="" name="" method="post">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-1">@ViewBag.Title</h3>
                <p>@TempData["Title"]</p>
            </div>
            @Html.AntiForgeryToken()
            <div class="card-body">
                <div class="form-group">
                    <input class="form-control form-control-lg" type="email" name="Email" required="" placeholder="Correo Electrónico" autocomplete="off">
                </div>                
                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" type="submit">Enviar Código</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>