
@{
    TempData["Title"] = "Olvidé Mi Contraseña";
    ViewBag.Title = "Hemos enviado un código a su dirección de correo electrónico. Al hacer clic en este código, puede establecer una nueva contraseña e iniciar sesión nuevamente.";
    Layout = "";
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/img/Logo 3.png" />   
    <link rel="stylesheet" href="~/Content/temp/userpage/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/temp/userpage/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/temp/userpage/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/temp/userpage/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="dashboard-main-wrapper">       
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-10">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header" id="top">
                                    <h2 class="pageheader-title">@TempData["Title"]</h2>
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Anasayfa</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">@TempData["Title"]</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">                            
                            <div class="card">  
                                <div class="card-body border-top">
                                    <h4>@TempData["Title"]</h4>
                                    <div class="alert alert-primary" role="alert">
                                        <h4 class="alert-heading">¡Bien hecho!</h4>
                                        <p>@ViewBag.Title</p>
                                        <hr>
                                        <p class="mb-0">provechoo.com</p>
                                    </div>
                                </div>                                
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2020 - @DateTime.Now.Year. Todos los derechos reservados. <a href="~/Home/Index">provechoo.com</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="~/Home/Index">Inicio</a>
                                <a href="~/Contact/Index">Contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="~/Content/temp/userpage/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/temp/userpage/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Content/temp/userpage/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Content/temp/userpage/assets/libs/js/main-js.js"></script>
</body>
</html>